<hr>
<footer class="footer">
    <div class="has-text-centered">
        <p>
            Created by <a href="https://www.shaunoneill.com">Shaun O'Neill - XeliteXirsh</a>
        </p>
    </div>
</footer>