<!DOCTYPE html>
<html lang="en">
<head>

    <% include partials/header.ejs %>

    <title>Home - G-Moodle</title>

</head>

<body>

<section class="hero is-success is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h3 class="title text-offwhite is-1">&bull;&nbsp;【﻿Ｇ－Ｍｏｏｄｌｅ】&nbsp;&bull;</h3>
            <p class="subtitle text-offwhite">
                <b>
                    Automatically add all your moodle calender events to your own google calender within seconds!
                </b>
            </p>

            <div class="columns">
                <div class="column is-one-third">
                    <figure class="image is-128x128">
                        <i class="fas fa-calendar-alt"></i>
                    </figure>
                </div>

                <div class="column is-one-third"></div>

                <div class="column is-one-third">
                    <figure class="image is-128x128">
                        <i class="fas fa-calendar-alt"></i>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<% include partials/footer.ejs %>

</body>
</html>