<!DOCTYPE html>
<html lang="en">
<head>

    <% include partials/header.ejs %>

    <title>Home - G-Moodle</title>

</head>

<body>

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class=" has-text-centered">
                <h3 class="title text-offwhite is-1">&bull;&nbsp;【﻿Ｇ－Ｍｏｏｄｌｅ】&nbsp;&bull;</h3>
                <p class="subtitle text-offwhite">
                    <b>
                        Automatically add all your moodle calender events to your own google calender within seconds!
                    </b>
                </p>

                <div style="font-size: 6rem;" class="columns">
                    <div class="column is-one-third">
                        <i class="fas fa-calendar-alt"></i>
                    </div>

                    <div class="column is-one-third"></div>

                    <div class="column is-one-third">
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                </div>
            </div>

            <div class="permissionsBox">
                <h1 class="title">&bull;&nbsp;What we use your account permissions for: </h1>
                <br>

                <div class="permission">
                    <h1 class="title is-4">- Why do we need your Moodle Login?</h1>
                    <h2 class="subtitle">We need your Moodle login in order to fetch your upcoming events!</h2>
                </div>
                <br><br>
                <div class="permission">
                    <h1 class="title is-4">- Why do we need your Google account?</h1>
                    <h2 class="subtitle">We don't actually have access to your account, we only have access to your
                        calenders.
                        We use this so we can add your moodle events to your calender!</h2>
                </div>


            </div>

            <div class="columns">
                <div class="column is-one-third"></div>
                <div class="column is-one-third">
                    <a class="button is-block is-info is-large" href="/apply"><b>Apply assignment events!</b></a>
                </div>
                <div class="column is-one-third"></div>
            </div>
        </div>
    </div>
</section>

<% include partials/footer.ejs %>

</body>
</html>